

<div class ="container m-5">
<div class ="p-2 text-end"><%= link_to 'Add Recipes', new_recipes_path %></div>
<% @recipe.each do |recipe| %>
  <div class="row border m-5 p-5">
     <div class="col-4">
         <h1><%= link_to recipe.name, recipes_show_path(recipe.id)  %></h1>
         <% if can? :manage, recipe %>
              <%= button_to  'Remove', destroy_recipes_path(id: recipe.id), method: :delete, class: "btn btn-primary"%>
          <% end %>
     </div>
     <div class ="col-8">
       <p><%= recipe.description %></p>
     </div>
  </div>
  <% end %>
</div>
