

<div class ="container m-5">
    <h1 class="text-success text-center">Public Recipes</h1>
    <% @public_recipes.each do |recipe| %>
        <div class="row border p-5">
            <div class="col-6">
                <h1><%= link_to recipe.name, recipes_show_path(recipe.id)  %></h1>
                <p class="d-flex">By: <%=recipe.user.name %></p>
            </div>
            <div class ="col-6">
            <p>Total food items: <%= recipe.recipe_foods.all.count %></p>
            <p>Total price: $ <%=recipe.recipe_foods.reduce(0) { |sum, recipe_food| sum + (recipe_food.food.price * recipe_food.quantity) }%></p>
            </div>
        </div>
    <% end %>
</div>
